/**
 * <%= className %>
 *
 * @create <%= date %>
 */
import * as React from 'react';
import './<%=kebab%>.less';

interface <%= className %>Props {}
interface <%= className %>State {}

class <%= className %> extends React.Component<<%= className %>Props, <%= className %>State> {

    // 默认props值
    // static defaultProps: any = {
    // }

    state: any = {
    };

    // constructor(props: <%= className %>Props) {
    //     super(props);
    // }

    render () {
        return (<section className="<%= kebab %>">
            Welcome use <%= className %>
        </section>);
    };
}

export default <%= className %>;
