/**
 * <%= className %>
 *
 * @create <%= date %>
 */
import * as React from 'react';
import mu from 'mzmu';
import * as _ from 'lodash';
import $project from '@/project';
import {MrIf, MrElse, MrFill, MrCol, MrAutoBind, MrReq, MrPanel} from 'masterrt';
import {Button, Input, Icon} from 'antd';
import {$pool, $intl} from '@/services';
import './<%=kebab%>.less';

interface <%= className %>Props {}
interface <%= className %>State {}

class <%= className %> extends React.Component<<%= className %>Props, <%= className %>State> {

    // 默认props值
    // static defaultProps: any = {
    // }

    state: any = {
    };

    // constructor() {}

    render () {
        return (<section className="<%= kebab %>">
            Welcome use <%= className %>
        </section>);
    };
}

export default <%= className %>;